
body{
    display: grid;
    place-items: start end;
    background: #09575B;
} 

.container{
    position: absolute;
    display: flex;
    width: 524px;
    height: 891px;
    left: 50px;
    top: 67px;
    background: #D9D9D9;
    
}

.logoimg{
    position: absolute;
    top: 150px;
    left: -60px;
  
}

#together{

    position: absolute;
    background: rgba(70, 123, 129,0.9);
    width: 500px;
    height:148px;
    left: -30px;
    top: 600px;

}

h3{
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 40px;
    

}

.login{
    position: relative;
    width: 606px;
    height: 1024px;
    padding: 20px;
    background: #3C797C;
    margin-right: 100px;
    margin-top: -10px;
    margin-bottom: -50px;
    left: 100px;
}

#singhere{
    position: absolute;
    display: flex;
    font-size: .9em;
    right: 10px;
    top: 30px;
   
}

#singhere a{
    color: black;
    margin-left: 10px;
    
}
.words{
    position: relative;
    display: inline-flex;
    bottom:50px;
    top: 130px;
    margin-bottom: 50px;
   
}
.box{
    position: relative;
    display: inline-flex;
    top: 135px;
    bottom: 50px;
    margin-bottom: 50px;
}

h1{
    color: #042e30;
    font-size: 50px;
   

}

a {
    text-decoration: none;
    color: #09575B;
}

h2{
    color: rgb(206, 206, 206);
    font-size: 15px;
    width: 700px;
    margin-top: 100px;
}

span{
    color: white;
    margin:5px;
}

button{
    background: white;

}

#caja{
    margin: 0;
}

.wordbox{
    position: relative;
    top: 200px;
}

.wordbox a{
    text-decoration: none;
    color: black;
}

button{
    position: absolute;
    width: 183px;
    height: 47px;
    background: #09565A;
    border-radius: 5px;
    bottom: 180px;
    right: 40%;
    color: white;
}
.box{
    width: 225px;
    height: 30px;
    background:white;
    color: #09565A;
    border-radius: 5px;
}
#passwordbox{
    width: 210px;
}


@media screen and (max-width: 1024px ) {

    body{
        display: grid;
        place-items: start end;
        background:#09575B;
    } 
    
    .container{
        position: absolute;
        display: flex;
        width: 524px;
        height: 891px;
        left: 50px;
        top: 67px;
        background: #D9D9D9;
        
    }
    
    .logoimg{
        position: absolute;
        top: 150px;
        left: -60px;
      
    }
    
    #together{
    
        position: absolute;
        background: rgba(70, 123, 129,0.9);
        width: 500px;
        height:148px;
        left: -30px;
        top: 600px;
    
    }
    
    h3{
        display: flex;
        text-align: center;
        align-items: center;
        color: white;
        font-size: 40px;
        
    
    }
    
    .login{
        position: relative;
        width: 606px;
        height: 1024px;
        padding: 20px;
        background: #3C797C;
        margin-right: 100px;
        margin-top: -10px;
        margin-bottom: -50px;
        left: 100px;
    }
    
    #singhere{
        position: absolute;
        display: flex;
        font-size: .9em;
        right: 10px;
        top: 30px;
       
    }
    
    #singhere a{
        color: black;
        margin-left: 10px;
        
    }
    .words{
        position: relative;
        display: inline-flex;
        bottom:50px;
        top: 130px;
        margin-bottom: 50px;
       
    }
    .box{
        position: relative;
        display: inline-flex;
        top: 135px;
        bottom: 50px;
        margin-bottom: 50px;
    }
    
    h1{
        color: #042e30;
        font-size: 50px;
       
    
    }
    
    a {
        text-decoration: none;
        color: #09575B;
    }
    
    h2{
        color: rgb(206, 206, 206);
        font-size: 15px;
        width: 700px;
        margin-top: 100px;
    }
    
    span{
        color: white;
        margin:5px;
    }
    
    button{
        background: white;
    
    }
    
    #caja{
        margin: 0;
    }
    
    .wordbox{
        position: relative;
        top: 200px;
    }
    
    .wordbox a{
        text-decoration: none;
        color: black;
    }
    
    button{
        position: absolute;
        width: 183px;
        height: 47px;
        background: #09565A;
        border-radius: 5px;
        bottom: 180px;
        right: 40%;
        color: white;
    }
    .box{
        width: 225px;
        height: 30px;
        background:white;
        color: #09565A;
        border-radius: 5px;
    }
    #passwordbox{
        width: 210px;
    }
    
}

@media screen and (max-width: 850px)
{
    
    body{
       margin-top: 10px;
        background: #09575B;
       font-size: .8em;
    }
    
    .container{
       display: none;
    }
        
    h3{
        display: flex;
        text-align: center;
        align-items: center;
        color: white;
        font-size: 40px;
    }
    
    .login{
        position: relative;
        width: 90%;
        height: 1024px;
        padding: 20px;
        background: #3C797C;
        margin-bottom: -50px;
    }
    
    #singhere{
        position: absolute;
        display: flex;
        font-size: .9em;
        right: 10px;
        top: 50px;
       
    }
    
    #singhere a{
        color: black;
        margin-left: 10px;
        
    }
    .words{
        position: relative;
        display: inline-flex;
        bottom:50px;
        top: 30px;
        margin-bottom: 50px;
       
    }
    .box{
        position: relative;
        display: inline-flex;
        top: 35px;
        bottom: 50px;
        margin-bottom: 80px;
    }
    
    h1{
        color: #042e30;
        font-size: 50px;
       
    
    }
    
    a {
        text-decoration: none;
        color: #09575B;
    }
    
    h2{
        color: rgb(206, 206, 206);
        font-size: 15px;
        width: 700px;
        margin-top: 100px;
    }
    
    span{
        color: white;
        margin:5px;
    }
    
    button{
        background: white;
        top: 500px;
    
    }
    
    #caja{
        margin: 0;
    }
    
    .wordbox{
        position: relative;
        top: 100px;
        left: 30px;
        font-size: .7em;
    }
    
    .wordbox a{ 
        
        text-decoration: none;
        color: black;
        bottom: -10px;
    }
    
    button{
        position: absolute;
        width: 183px;
        height: 47px;
        background: #09565A;
        border-radius: 5px;
        bottom: 200px;
        right: 40%;
        color: white;
    }
    .box{
        width: 273px;
        height: 25px;
        background:white;
        color: #09565A;
        border-radius: 5px;
    }
    #passwordbox{
        width: 250px;
    }
} 